html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='icon', href='../../favicon.ico')
		title 领悠
		link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/admin.css')
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//
			[if lt IE 9]
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
			<!--[endif]
	body(data-spy='scroll', data-target='.scrollspy')
		#wrapper
			// Sidebar
			#sidebar-wrapper
				ul.sidebar-nav
					li.sidebar-brand
						a(href='#') Administrator Console
					li
						a(href='#dash') Offers
			// /#sidebar-wrapper
			// Page Content
			#page-content-wrapper
				.container-fluid
					.row
						.col-md-12
							#reactContainer
								h1.text-center Administrator For LINK UNI
		// /#wrapper
		script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
		script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
		// Menu Toggle Script
		script(src="/build/bundle.js")
		//- script(src="/build/bundle.js")
		script.
			$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
			});
