+navbar-fixed("越扬教育","nav_yueyang","inverse")
	+nav_item("#","active") 首页
	+nav_item_dropdown("#")(label="留学")
		+nav_item("#") 初高中
		+nav_item("#") 本科
		+nav_item("#") 研究生
	+nav_item("#","active") 夏令营
	+nav_item("#") 关于我们
	