extends ../../bower_components/jade-bootstrap/_bootstrap

block styles
	link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")

block scripts
	script(src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
	script(src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")

block body
	include ../components/thumbnail.jade
	
	include ./header.jade
	block content
	include ./footer.jade


