.service-team-external {
  height: 900px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.service-team-external svg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.service-team-external .person-platform {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.service-team-external .person-platform .person {
  stroke: #F2B482;
  position: absolute;
  display: block;
  stroke-width: 2px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid #fc8c84;
}
.service-team-internal {
  padding-top: 10px;
}
.service-team-internal .internal-team-member {
  overflow: hidden;
}
.service-team-internal .internal-team-member .left-content {
  width: 150px;
  float: left;
}
.service-team-internal .internal-team-member .left-wrapper {
  float: left;
  width: 100%;
  margin-left: -150px;
}
.service-team-internal .internal-team-member .left-wrapper .left-content {
  width: auto;
  margin-left: 150px;
}
.service-team-internal .internal-team-member .right-content {
  width: 150px;
  float: left;
}
.service-team-internal .internal-team-member .right-wrapper {
  float: left;
  width: 100%;
  margin-right: -150px;
}
.service-team-internal .internal-team-member .right-wrapper .right-content {
  width: auto;
  margin-right: 150px;
}
.service-team-internal .internal-team-member h3 {
  color: #23527c;
  line-height: 40px;
  font-weight: bold;
}
.service-team-internal .internal-team-member p {
  font-weight: bold;
}
.service-team-internal .internal-team-member img {
  width: 120px;
  border-radius: 50%;
}
.service-team-separator {
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}
.service-team-separator .left-wrapper {
  width: 100%;
  float: left;
  margin-left: -280px;
}
.service-team-separator .left-wrapper .left-content {
  margin-left: 280px;
}
.service-team-separator .left-wrapper .left-content .inner-wrapper {
  margin-right: -280px;
  float: left;
  width: 100%;
}
.service-team-separator .left-wrapper .left-content .inner-wrapper .inner-content {
  margin-right: 280px;
}
.service-team-separator .left-wrapper .left-content .inner-wrapper .inner-content .up,
.service-team-separator .left-wrapper .left-content .inner-wrapper .inner-content .down {
  text-align: center;
  color: #ed0000;
  height: 55px;
  line-height: 55px;
  font-size: 40px;
  font-weight: bold;
}
.service-team-separator .left-wrapper .left-content .inner-wrapper .inner-content .up {
  border-bottom: 7px solid #003366;
  vertical-align: bottom;
}
.service-team-separator .left-wrapper .left-content .inner-wrapper .inner-content .down {
  border-top: 7px solid #003366;
  vertical-align: top;
}
.service-team-separator .arrow-left {
  margin-top: 40px;
  border-right: 280px solid #003366;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  float: left;
}
.service-team-separator .arrow-right {
  margin-top: 40px;
  border-left: 280px solid #003366;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  float: right;
}
