<div class="office">
    <div class="division-title">
        <div class="text">公司理念</div>
    </div>
    <div class="division-body">
        <svg></svg>
        <div class="svg-text">
            <p>让家庭式教育</p>
            <p>陪伴孩子成长</p>
            <p>Link Uni</p>
            <p>We Unite</p>
        </div>
        <p class="left-align-text">丛书教育秉承关注少儿，青少年成长和能力培养，</p>
        <p class="left-align-text">引进美国原版英语教材，专业从事英语培训，</p>
        <p class="left-align-text">海外冬夏令营游学，留学。</p>
        <p class="right-align-text">Link Uni（领悠文化）是丛书教育旗下子公司，</p>
        <p class="right-align-text">专注高端留学品牌。独创留学生社区网络，</p>
        <p class="right-align-text">超链接校友资源，关注最新留学趋势和第一手学校资讯，</p>
        <p class="right-align-text">让学子在不断的互动中自由选择。</p>
        <div id="screen"></div>
        <div id="bankImages">
            <img ng-repeat="img in imgs" src="{{img.src}}">
        </div>
    </div>
    <!--<button ng-click="test()" style="position:absolute;z-index:100;">test</button>-->
</div>